@model ActiveGamesViewModel

<div class="container">
    <div class="row obj-center">
        <form asp-action="CreateGame" asp-controller="AdminPanel" method="post">
            <button type="submit" class="btn btn-success btn-lg" id="create-btn">Create</button>
        </form>
    </div>
    <form class="form-group" asp-controller="AdminPanel" asp-action="JoinGame">
        <div class="row obj-center">
            <input asp-for="ConnectionId" type="text" class="form-control" aria-label="Large"
                   aria-describedby="inputGroup-sizing-sm" placeholder="Connection ID" id="join-input">
        </div>
        <div class="row obj-center">
            <button type="submit" class="btn btn-warning btn-lg" id="join-btn">Join</button>
        </div>
    </form>
</div>

<div class="all-games">Active games</div>
<div class="games-container">
    @foreach (var game in Model.Games!)
    {
        <table class="table table-striped" style="height: 60px">
            <thead>
            <tr>
                <th scope="col">Author name</th>
                <th scope="col">Connection Id</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@game.Name</td>
                <td>@game.ConnectionId</td>
            </tr>
            </tbody>
        </table>
    }
</div>
<script src="~/lib/signalr.min.js"></script>
<script src="js/site.js"></script>