<div class="main-container">
    <div class="tic-tac-toe-container">
        <div class="row">
            <div class="col game-cell" id="0" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="1" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="2" onclick="stepMove(this)"></div>
        </div>
        <div class="row">
            <div class="col game-cell" id="3" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="4" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="5" onclick="stepMove(this)"></div>
        </div>
        <div class="row">
            <div class="col game-cell" id="6" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="7" onclick="stepMove(this)"></div>
            <div class="col game-cell" id="8" onclick="stepMove(this)"></div>
        </div>
    </div>
</div>

<script src="~/lib/signalr.min.js"></script>
<script src="js/game.js"></script>