@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}
 
<div class="flex-container">
    <form asp-action="Index" asp-controller="Login" method="post" class="flex-item">
        <div class="error-item">
            <span class="valid-error" asp-validation-for="Name"></span>
        </div>
        <div class="input-item">
            <div class="item form-floating mb-3 w-50">
                <input asp-for="Name" type="text" class="form-control" id="name-input" placeholder="name@example.com">
                <label for="name-input">Name</label>
            </div>
        </div>
        <div class="item"><button type="submit" class="btn btn-outline-primary btn-lg">Login</button></div>
    </form>
</div>

<script src="~/lib/signalr.min.js"></script>
<script src="js/site.js"></script>
